$color: #282c34;

.App {
  text-align: center;
  background: center / cover no-repeat url('./assets/gradient.svg');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
